extends _template/_base

block vars
  - lev1ID = "top";
block links
  link(href=`${pathToCSS}top.css${hash}`, rel="stylesheet", type="text/css")

block scripts
  script(src=`${pathToJS}top.js${hash}`)

block main
  p this is TEST
