@use "sass:meta";
@use "sass:math";
@use "../_include/color";
@use "../_include/decoration";
@use "../_include/ease";
@use "../_include/media_query" as mq;
@use "../_include/path";
@use "../_include/typography";
@use "../_include/vw";
@use "../_include/geom";

h1 {
  display: block;
  overflow: hidden;
  font-size: 64px;
}
